#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  #login-form label {
    margin-right: 10px;
  }

  #book-select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #book-select:hover {
    border-color: #666;
  }

  #book-select option:hover {
    background-color: #f2f2f2;
  }

  button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  button[type="submit"]:active {
    background-color: #29773d;
  }
#fot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px; /* Height of the footer */
    background-color:  #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
@media only screen and (min-device-width: 480px){
      #nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #333;
  }
        
        /* Style for the dark mode toggle button */
        #dark-mode-toggle {
            /* position: fixed; */
            top: 20px;
            right: 20px;
            padding: 10px;
            background-color: #fff;
            color: #333;
            border: none;
            cursor: pointer;
        }
        
        body.dark-mode {
            background-color: #333;
            color: #fff;
        }}
    @media only screen and (max-device-width: 480px) {
  #nav {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  #nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
    #logo {
      /* font-size: 1.5em; */
      height: 60px;
    }
  #nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* display: none; */
  }
  
  #nav ul li {
      margin-right: 5px;
      padding: 0;
  }
  
  #nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    /* align-items: center; */
  }
  
  #nav ul li a:hover {
    background-color: #fff;
    color: #333;
    font-size: 14px;
  }
  #nav .menu-icon {
  display: block;
}
  #dark-mode-toggle {
            /* position: fixed; */
            top: 20px;
            right: 20px;
            padding: 10px;
            background-color: #fff;
            color: #333;
            border: none;
            cursor: pointer;
        }
        
        body.dark-mode {
            background-color: #333;
            color: #fff;
        }
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    color: #f5f5f5;
background-image: url('https://static.vecteezy.com/system/resources/previews/001/544/378/original/black-elegant-criss-cross-background-free-vector.jpg');
background-size: cover;
background-position: center;
  }
  
  h1, h3 {
    text-align: center;
    color: #f5f5f5;
    margin: 50px 0;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  label {
    margin-right: 10px;
  }
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 300px;
    margin-right: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  button[type="submit"] {
    color: #fff;
    background-color: #8b7a36;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #333;
  }