
  /* Main styles */
  body {
    font-family: Arial, sans-serif;
    /* background-color: #f5f5f5;
    background-color: #000000; */
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  body{
    background-image: url("https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-7680x4320-8324.png");
    background-size: cover;
    background-position: center;}
  .header-text{
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    color: #ffffff;}
  h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Form Styles */
  form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  
  form:hover{
    background-color: #b4c8d2;
    transition: background-color 0.3s ease-in-out; 
  }
  
  .book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  #imageInput{
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    color: #000000;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  select,
  input,
  textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    background-color: #f5f5f5;
  }
  
  select {
    max-width: 150px;
  }
  
  textarea {
    height: 150px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #006080;
  }
  
    /* Book List Styles */
  .header-text {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* color: #333; */
    }
    
    ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    
    li {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
    
    li:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    background-color: #b4c8d2;
    transition: background-color 0.3s ease-in-out; 
    }
    
    li:active {
    background-color: #ccc;
    }
    
    li::before {
    content: "📘";
    margin-right: 20px;
    font-size: 28px;
    opacity: 0.6;
    color: #333;
    }
    
    @media (max-width: 768px) {
    li::before {
    content: "📕";
    }
    }
    
    li:hover::before {
    opacity: 1;
    }
    
    li img {
    max-width: 70px;
    max-height: 70px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
    
    li p {
    margin: 0;
    font-size: 18px;
    color: #333;
    }
    
    /* Container Styles */
    .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    }
    
    /* File Input Styles */
    .file-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    }
    
    .file-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    }
    
    .file-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    }
    
    .file-wrapper button:hover {
    background-color: #006B87;
    }
    
    .file-name {
    margin-left: 20px;
    font-size: 18px;
    color: #333;
    }
  /* Modal Styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    }
    
    .modal-content {
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: relative;
    }
    
    .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Add a border to the header */
    }
    
    .modal-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; /* Make the title uppercase /
    letter-spacing: 1px; / Add a bit of letter-spacing */
    }
    
    .modal-close {
    font-size: 30px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out; /* Add a transition effect */
    }
    
    .modal-close:hover {
    opacity: 1;
    }
    
    .modal-body {
    margin-bottom: 20px;
    }
    
    .modal-input-label {
    display: block;
    margin-bottom: 10px; /* Increase the margin-bottom /
    font-weight: bold;
    color: #444; / Darken the color a bit */
    }
    
    .modal-input {
    margin-bottom: 20px; /* Increase the margin-bottom /
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    transition: border-color 0.2s ease-in-out; / Add a transition effect */
    }
    
    .modal-input:focus {
    border-color: #008CBA; /* Change the border color on focus */
    }
    
    .modal-textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    height: 150px;
    transition: border-color 0.2s ease-in-out; /* Add a transition effect */
    }
    
    .modal-textarea:focus {
    border-color: #008CBA; /* Change the border color on focus */
    }
    
    .modal-button {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    }
    
    .modal-button:hover {
    background-color: #006B87;
    }
    
    .arrow-button {
    background-color: #008CBA;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 10px; /* Increase the margin /
    padding: 10px 20px; / Add padding */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    }
  
    .arrow-button:hover {
    background-color: #006B87;
    }
  
    .arrow-button:disabled {
    background-color: #ccc;
    }